@font-face {
    font-family: 'MyCustomFont';
    src: url('/assets/fonts/KLeagueBasic-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MyCustomFont', sans-serif;
}

.dash-graph {
    font-family: 'MyCustomFont', sans-serif;
}
